@import "common.css";

#radioContainer{
    -fx-border-width: 1px; 
    -fx-border-color: -lookupBorder; 
    -fx-padding: 5px;
}

.list-cell{
    -fx-padding: 4px 2px 4px 15px;
}

#content{
     -fx-padding: 15px 80px 15px 80px;
    -fx-border-width: 1px;
    -fx-border-color: -lookupBorder;
}

#tfSearchItem{
    -fx-background-image: url(/resources/images/search_16.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: 97%, 4;
    -fx-padding: 3px 27px 3px 7px;
}



